datacenter     = "${datacenter_name}"
data_dir       = "${data_dir}"
client_addr    = "0.0.0.0"
bind_addr      = "{{ GetPrivateIP }}"
advertise_addr = "{{ GetPrivateIP }}"
retry_join     = ${retry_join}
log_level      = "${log_level}"
encrypt        = "${gossip_key}"

# Enable non-TLS grpc port for Consul Connect in Nomad
# TODO: Setup TLS grpc connection from Nomad to Consul
# https://github.com/hashicorp/nomad/issues/12111
ports {
  grpc = 8502
}
