bind_addr  = "0.0.0.0"
datacenter = "${datacenter_name}"
data_dir   = "${data_dir}"
log_level  = "${log_level}"
advertise = {
  http = "{{ GetPrivateIP }}"
  rpc  = "{{ GetPrivateIP }}"
  serf = "{{ GetPrivateIP }}"
}
client = {
  enabled  = true
  cni_path = "/usr/lib/cni"
%{ for host_volume_name, host_volume in host_volumes ~}
  host_volume "${host_volume_name}" {
    path = "${host_volume.path}"
    read_only = ${host_volume.read_only}
  }
%{ endfor ~}
}
