plugin "docker" {
  config {
    volumes {
      enabled      = true
      selinuxlabel = "z"
    }
    allow_privileged = true
    allow_caps = [
      "audit_write", "chown", "dac_override", "fowner", "fsetid", "kill", "mknod",
      "net_bind_service", "setfcap", "setgid", "setpcap", "setuid", "sys_chroot",
      "ipc_lock"
    ]
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
