Enabled: yes
Types: deb
Architectures: amd64
URIs: ${source.uris}
Suites: ${source.suites}
%{ if contains(keys(source), "components") }Components: ${source.components}
%{ endif ~}
Signed-By:
  ${source.key_file}