[Unit]
Description=Cloudflare Tunnel
After=syslog.target network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Type=notify
EnvironmentFile=/etc/default/cloudflared
ExecStart=/usr/bin/cloudflared $CLOUDFLARED_OPTS
Restart=on-failure
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target