include "{{ env "NOMAD_SECRETS_DIR" }}/named.conf.key";

options {
  directory "/var/cache/bind";
  recursion yes;
  allow-query { any; };
  forwarders {
    %{ for nameserver in upstream_nameservers ~}${nameserver};
    %{ endfor }
  };
};

%{ for zone in zones ~}
zone "${zone}." {
  type primary;
  file "/var/lib/bind/${zone}.zone";
  update-policy { grant tsig zonesub any; };
  notify explicit;
};

%{ endfor ~}